*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    
}

body {
    background-color: green;
}

.cabecalho {
    justify-content: center;
    margin-left: 15vw;
    align-content: space-around;
    
}

.div1 {
    margin-top: 2vw;
    margin-bottom: 2vh;
}

.div1 img {
    height: 7vh;
    width: 7vw;
    margin-left: 30vw;
}

.div2 {
    margin-top: 2vw;
    margin-bottom: 2vh;
}

.div2 h1 {
    margin-left: 19vw;
    font-size: 50px;
    color: white;
}

.div3 {
    margin-top: 2vw;
    margin-bottom: 2vh;
}

.div3 h2 {
    margin-left: 19.5vw;
    font-size: 25px;
    color: white;
}

.div4 {
    margin-left: 20vw;
    margin-top: 2vw;
    margin-bottom: 2vh;
}

.input1 {
    width: 300px;
    height: 35px;
    border-radius: 5px;
}

.input2 {
    width: 150px;
    height: 39px;
    border-radius: 5px;
    background-color: #212326;
    color: white;
}

.div5 {
    margin-top: 1.5vw;
    margin-bottom: 1.5vh;
}

.div5 h3 {
    font-size: 10px;
    justify-content: center;
    color: white;
}

.h3-1 {
    margin-left: 20vw;
}

.h3-2 {
    margin-left: 30vw;
}

.div6 img {
    width: 280px;
    height: 280px;
    margin-left: 25.5vw;
}



