*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    
}

.cabecalho {
    justify-content: center;
    margin-left: 15vw;
}

.div1 img {
    height: 7vh;
    width: 7vw;
    margin-left: 30vw;
}

.div2 h1 {
    margin-left: 19vw;
    font-size: 50px;
}

.div3 h2 {
    margin-left: 19.5vw;
    font-size: 25px;
}

.div4 {
    margin-left: 20vw;
}

.input1 {
    width: 300px;
    height: 35px;
    border-radius: 5px;
}

.input2 {
    width: 150px;
    height: 35px;
    border-radius: 5px;
}



